# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
ENV/
*.env

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Migrations (keep __init__.py only)
*/migrations/*
!*/migrations/__init__.py

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
